## ########################
## || PULSAR FRAMEWORK  ||
## ########################

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_licenseKey "CHANGE_THIS_TO_YOUR_LICENSE_KEY"
set steam_webApiKey "CHANGE_THIS_TO_YOUR_STEAM_API_KEY"

sv_hostname "^6Pulsar Framework^7 | Pulsar Framework - Fear"
sets sv_projectName "^6Pulsar Framework"
sets sv_projectDesc "Powered by Pulsar Framework — pulsarfw.com"
sets tags "rp"
sets locale "en-US"
load_server_icon logo96.png

sv_maxclients 48
sv_endpointPrivacy true
sv_scriptHookAllowed 0
set sv_enforceGameBuild 3407
set net_tcpConnLimit 65535

# Comment out sv_master1 to LIST the server publicly
sv_master1 ""

### Discord Webhooks

set discord_admin_webhook ""
set discord_connection_webhook ""
set discord_log_webhook ""
set discord_kill_webhook ""
set discord_pwnzor_webhook ""
set discord_error_webhook ""
set discord_donation_webhook ""
set discord_loot_webhook ""
set create_newdoorlock_log ""

### Pulsar Core

set plsfw_version "1.0.0"

### Database

set mysql_connection_string "mysql://root@localhost/PulsarFramework-Fear?charset=utf8mb4"
set mysql_slow_query_warning 300
set mysql_ui true

### Voice

setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

### Config Files

exec configs/core.cfg
exec configs/resources.cfg
exec configs/ox.cfg
exec configs/permissions.cfg
