set sv_environment dev # dev/prod

#
# Error Logging
# level 1 'trace'
# level 2 'info'
# level 3 'warn'
# level 4 'error'
# level 5 'critical'
setr log_level 1

# Pulsar Framework Version
setr pfw_version 1.0.0

# Casino Open/Close
set casino_open true

# Sets Discord App ID for Rich Presence
setr discord_app ""

# Sets phone selfie mode webhook
set phone_selfie_webhook ""
set phone_selfie_token ""

# Sets evidence camera webhook (URL + display name shown in Discord)
set evidence_selfie_webhook ""
set evidence_webhook_username "Evidence Camera"

# Removes player join/quits messages from chat
set chat_showQuits 0
set chat_showJoins 0

setr game_enableFlyThroughWindscreen true
setr game_enablePlayerJumpRagdollControl true
setr game_enablePlayerRagdollOnCollision true
setr sv_showBusySpinnerOnLoadingScreen false
setr profile_skfx 0
setr profile_gfxCityDensity 0
setr profile_gfxPopVariety 0

sets motd "^6Welcome to Pulsar Framework!^7"

set winter_only "false"

#set WS_MDT_ALERTS "http://localhost:4002/mdt-alerts"
set WS_MDT_ALERTS "http://mdt.pulserp.online/mdt-alerts"

increase_pool_size "AttachmentExtension" 430
increase_pool_size "Building" 500
increase_pool_size "CMoveObject" 10
increase_pool_size "FragmentStore" 7000
increase_pool_size "InteriorProxy" 450
increase_pool_size "LightEntity" 1000
increase_pool_size "Object" 2000
increase_pool_size "OcclusionInteriorInfo" 20
increase_pool_size "OcclusionPortalEntity" 750
increase_pool_size "OcclusionPortalInfo" 750
increase_pool_size "PortalInst" 225
increase_pool_size "StaticBounds" 5000
increase_pool_size "TxdStore" 26000
increase_pool_size "fragInstGta" 2000
increase_pool_size "netGameEvent" 400
increase_pool_size "ScaleformStore" 200