# These resources will start by default.
	ensure mapmanager
	ensure yarn
	ensure spawnmanager

# Core Resources
	ensure oxmysql
	ensure ox_lib
	ensure onx-evp-b-lightbars
	ensure al_lightbars
	ensure pulsar-core
	ensure pulsar-loadscreen
	ensure pulsar-queue
	ensure pulsar-pwnzor
	ensure pulsar-objects

	ensure pulsar-chat
	ensure pulsar-commands
	ensure pulsar-characters
	ensure pulsar-ped
	ensure pulsar-kbs
	ensure pulsar-admin
	ensure pulsar-ipl
	ensure pulsar-polyzone
	ensure pulsar-lasers
	ensure pulsar-hud
	ensure pulsar-games
	ensure pulsar-blips
	ensure pulsar-sounds
	ensure pulsar-menu
	ensure pulsar-sync
	ensure pulsar-scenes
	ensure brazzers_perspective
	ensure ob_radio_2

# Interaction
	ensure ox_target
	ensure pulsar-pedinteraction

# Main
	ensure ox_inventory
	ensure ox_inv_addons
	ensure pulsar-status
	ensure pulsar-damage
	ensure pulsar-escort
	ensure pulsar-animations
	ensure pulsar-weapons
	ensure pulsar-businesses
	ensure pulsar-vacation
	ensure pulsar-finance
	ensure ox_doorlock
	ensure pulsar-elevators
	ensure pulsar-laptop
	ensure pulsar-killzones

# Property
	ensure pulsar-apartments
	ensure pulsar-properties

# Crime
	ensure pulsar-weed
	ensure pulsar-drugs
	ensure pulsar-robbery
	ensure pulsar-jail
	ensure pulsar-evidence

# Vehicle
	ensure pulsar-vehicles
	ensure pulsar-dealerships
	ensure pulsar-customs
	ensure pulsar-fuel
	ensure pulsar-tow
	ensure pulsar-fitment

# Jobs
	ensure pulsar-jobs
	ensure pulsar-labor
	ensure pulsar-mechanic
	ensure pulsar-police
	ensure pulsar-cctv
	ensure pulsar-mdt
	#ensure pulsar-radar # NOT SURE HOW TO REMOVE WITHOUT BREAKING SHIT
	ensure policeradar_prop
	ensure sf-policeradar
	ensure pulsar-k9
	ensure pulsar-restaurant
	ensure pulsar-taxi

# Entertainment
	ensure pulsar-billboards
	ensure pulsar-casino
	ensure pulsar-dj
	ensure pulsar-xmas

# Voice
	ensure pulsar-voip
	ensure pulsar-radio
	ensure pulsar-phone

# WebSocket
	ensure pulsar-ws

# Other
	ensure [Pulsar_Addons]
	#ensure coords
	ensure xsound
	ensure screencapture
	ensure discord-screenshot
	ensure brazzers_perspective
	ensure dolu_tool
	ensure uz_AutoShot

# Assets
	ensure [assets_maps]
	ensure [assets]
